@import '~antd/dist/antd.less';

html, body, #root, .app {
  height: 100%;
  width: 100%;
}

.app {
  text-align: center;

  .app-content {
    overflow: scroll;

    .loading-spinner, .error-message {
      height: 100%;
    }
  }
}

