.ant-card.movie-item {
  width: 400px;
  margin-top: 15px;

  .ant-card-cover {
    display: flex;
    justify-content: space-around;
    padding-top: 24px;
    .movie-poster {
      max-height: 200px;
      width: auto;
    }
  }
}
